<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href=" ">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" [scrollTo]="'#bio'" [scrollDuration]="500" [scrollOffset]="-50">Bio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" [scrollTo]="'#project'" [scrollDuration]="500" [scrollOffset]="-50">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="https://github.com/ametelski" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href= "https://www.linkedin.com/in/adam-metelski-4123b3116/ " target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link " href= "mailto:asmetelski@gmail.com"target="_blank">
                  <i class="fas fa-envelope"></i>
              </a>
            </li>
      </ul>

    </div>
  </nav>

</div>
