<br>
<h1 id="bio" >About Me</h1>
<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">United States Navy
      <br>
      <span class="text-muted">Honor • Courage • Commitment</span>
    </h2>
    <p class="lead">I joined the Navy in January 2003 and after boot camp and training I was station on the USS Abraham Lincoln in Everett Washington. In my first two years I was an Airman (“a green shirt”), working on the flight deck launching and recovering aircraft. In my next two years I decided to change my position and become a Engineman Maintenance Technician. As an Engineman I was responsible for the operation and maintenance to four emergence diesel generates that could power the entire ship if was required. </p>
    <p class="lead">The Navy provided me many opportunities and experiences that has shaped me into the person that I am now, and I am very grateful that could serve my country. </p>
  </div>
  <div class="col-md-5" >
    <img class="featurette-image img-fluid mx-auto pictureDiv" data-src="holder.js/500x500/auto" alt="500x500" src="assets/navy.jpg">
  </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading"> Audio Visual
        <br/>
        <span class="text-muted">See for yourself.</span>
      </h2>
      <p class="lead">After leaving the Navy I started a career in the Audio Video industry. Applying the discipline, I learned in the Navy and my drive to learn, I quickly progressed from a helper technician to a Project Manager.
          Working in the AV industry I was exposed to many custom software for AV equipment that required fundamental knowledge of computer logic. This interaction coupled with working with people in the software/IT industry fueled my interest in becoming a software developer.
          </p>
    </div>
    <div class="col-md-5 order-md-1 ">
      <img class="featurette-image img-fluid mx-auto pictureDiv" data-src="holder.js/500x500/auto" alt="500x500"  src="/assets/AV.jpg">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">The Future
        <br>
        <span class="text-muted">Going passed the Possible........... To the Possimpible</span>
      </h2>
      <p class="lead">In 2013, I decide that I would pursue a degree in Computer Science and completed that degree in 2017 from Arizona State University. Since completing my degree I have relocated to Bremerton Washington and working on the start of my career. </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px; object-fit:cover;" src="assets/the_matrix.jpg">
    </div>
  </div>
