<br>
<h1 id="bio" >About Me</h1>
<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">United States Navy
      <br>
      <span class="text-muted">Honor • Courage • Commitment</span>
    </h2>
    <p class="lead">
        In January 2003 I joined the Navy and my first was station on the USS Abraham Lincoln in Everett Washington.
        I was initially an Airman (“a green shirt”), working on the flight deck launching and recovering aircraft. As this position was
        dangers it really enforced the importance of safety in my mind as there was little to no margin of error. After two years in the role,
        I deiced to a pursue a path as an Engineman Maintenance Technician. For the next two years, I was responsible for the operation and
        maintenance of four emergency diesel generators that could power the entire ship if needed.
      </p>
    <p class="lead">The Navy provided me many opportunities and experiences that has shaped me into the person that I am now, and I am very
       grateful that could serve my country. </p>
  </div>
  <div class="col-md-5" >
    <img class="featurette-image img-fluid mx-auto pictureDiv" data-src="holder.js/500x500/auto" alt="500x500" src="assets/navy.jpg">
  </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading"> Audio Visual
        <br/>
        <span class="text-muted">See for yourself.</span>
      </h2>
      <p class="lead">After leaving the Navy in 2007, I started a career in the Audio Video (AV) industry. Applying the discipline
        I learned in the Navy and my drive to learn, I quickly progressed from a junior technician to a Project Manager. With 10 years
        of intensive audio visual, I gained vast knowledge and experience in the integration of high end corporate boardrooms,
        auditoriums, teleconferencing, and hospitality assemblies. My expertise grew in custom integrations, audio DSP’s, field
        terminations, rack fabrication, and commissioning of AV systems.  While working in the AV industry I was exposed to many
        custom software for AV equipment that required fundamental knowledge of computer logic. This interaction coupled with working
         with people in the software/IT industry fueled my interest in becoming a software developer.
          </p>
    </div>
    <div class="col-md-5 order-md-1 ">
      <img class="featurette-image img-fluid mx-auto pictureDiv" data-src="holder.js/500x500/auto" alt="500x500"  src="/assets/AV.jpg">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">The Future
        <br>
        <span class="text-muted">Going Passed the Impossible........... To the Possimpible (Possible and Simple)</span>
      </h2>
      <p class="lead">In 2013, I decide to pursue a degree in Computer Science and graduated from Arizona State University in 2017. I’m a highly motivated technology professional launching a career as a software engineer. My solid baseline understanding of programming decomposition, Object-oriented programming, and data structure and algorithms allow me to create technological solutions to business needs. I’ve been dedicated to maintaining up-to-date industry knowledge and emerging technologies. My work is showcased in the Projects section to get a better sense of what I can contribute as a software engineer.  </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px; object-fit:cover;" src="assets/the_matrix.jpg">
    </div>
  </div>
